body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfebe1;
}

#banner {
    background-color: #5a9e6c;
    color: white;
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
#banner h1 {
    font-size: 28px;
    margin: 0;
}
#buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
    font-size: 18px;
}

#main {
    padding: 20px;
    gap: 20px;
}

#events-display {
    padding: 20px;
    gap: 20px;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

#message-box {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;

    background-color: #7ff268;
    color: black;
    font-weight: bold;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
}
#alert-box {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;

    background-color: #fa6161;
    color: white;
    font-weight: bold;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 8px;
}


.button {
    transition: opacity 0.2s;
    user-select: none;
}
.button:hover {
    cursor: pointer;
    opacity: 0.7;
}
#close-button {
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 10px;
    font-size: 20px;
    color: #2C3E50;
}

.input-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border: 2px solid #2C3E50;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-width: 250px;
}
.input-box input {
    font-size: 14px;
    width: 250px;
    box-sizing: border-box;
}
.input-box label {
    padding: 8px;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.submit-button {
    padding: 8px;
    border-radius: 8px;
    color: #5a9e6c;
    font-size: 16px;
    font-weight: bold;
}
.delete-button {
    padding: 8px;
    border-radius: 8px;
    color: #fa6161;
    font-size: 16px;
    font-weight: bold;
}

.event-card {
    position: relative;
    border: 1px solid #1d3d25;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
    background-color: white;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.event-card:hover {
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.event-card h2 {
    color: #1d3d25;
    font-size: 24px;
    font-weight: bold;
}
.event-card label {
    color: #1d3d25;
    font-size: 16px;
    font-weight: bold;
}

.view-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    color: #5a9e6c;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
}

.event-view {
    position: relative;
    border: 1px solid #1d3d25;
    border-radius: 5px;
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.event-view h2 {
    color: #1d3d25;
    font-size: 40px;
    font-weight: bold;
}
.event-view label {
    color: #1d3d25;
    font-size: 22px;
    font-weight: bold;
}

#event-desc {
    color: #1d3d25;
    font-size: 25px;
    font-style: italic;
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 5px;
    color: #5a9e6c;
    letter-spacing: 0.5px;
}
#booking-panel {
    padding: 20px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 50px;
}

#warning-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    border: 2px solid #2C3E50;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    min-width: 250px;
}
#warning-buttons {
    font-weight: bold;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    gap: 20px;
}
